PORT=3000
HOST=0.0.0.0
APP_BASE_URL=http://localhost:3000
ADMIN_KEY=change-me
CORS_ORIGIN=*

MODAL_APP_NAME=cloudagi
MODAL_IMAGE=python:3.13
MODAL_ENVIRONMENT_NAME=main
MODAL_GPU=none
MODAL_TIMEOUT_SECS=1800

NVM_API_KEY=
NVM_ENVIRONMENT=sandbox
NVM_PAYMENT_RAIL=crypto
NVM_AGENT_ID=
NVM_PLAN_ID=
NVM_BUILDER_ADDRESS=
NVM_USDC_ADDRESS=0x036CbD53842c5426634e7929541eC2318f3dCF7e

CLOUDAGI_OFFER_NAME=CloudAGI Fast Run
CLOUDAGI_PRICE_AMOUNT=25
CLOUDAGI_PAYMENT_CURRENCY=USDC
CLOUDAGI_PRICE_LABEL=25 USDC
CLOUDAGI_PRICE_UNITS=25000000
CLOUDAGI_PLAN_CREDITS=1
